:root {
    --rosewater: #f2d5cf;
    --rosewater-rgb: 242, 213, 207;
    --rosewater-hsl: 10, 57%, 88%;
    --flamingo: #eebebe;
    --flamingo-rgb: 238, 190, 190;
    --flamingo-hsl: 0, 59%, 84%;
    --pink: #f4b8e4;
    --pink-rgb: 244, 184, 228;
    --pink-hsl: 316, 73%, 84%;
    --mauve: #ca9ee6;
    --mauve-rgb: 202, 158, 230;
    --mauve-hsl: 277, 59%, 76%;
    --red: #e78284;
    --red-rgb: 231, 130, 132;
    --red-hsl: 359, 68%, 71%;
    --maroon: #ea999c;
    --maroon-rgb: 234, 153, 156;
    --maroon-hsl: 358, 66%, 76%;
    --peach: #ef9f76;
    --peach-rgb: 239, 159, 118;
    --peach-hsl: 20, 79%, 70%;
    --yellow: #e5c890;
    --yellow-rgb: 229, 200, 144;
    --yellow-hsl: 40, 62%, 73%;
    --green: #a6d189;
    --green-rgb: 166, 209, 137;
    --green-hsl: 96, 44%, 68%;
    --teal: #81c8be;
    --teal-rgb: 129, 200, 190;
    --teal-hsl: 172, 39%, 65%;
    --sky: #99d1db;
    --sky-rgb: 153, 209, 219;
    --sky-hsl: 189, 48%, 73%;
    --sapphire: #85c1dc;
    --sapphire-rgb: 133, 193, 220;
    --sapphire-hsl: 199, 55%, 69%;
    --blue: #8caaee;
    --blue-rgb: 140, 170, 238;
    --blue-hsl: 222, 74%, 74%;
    --lavender: #babbf1;
    --lavender-rgb: 186, 187, 241;
    --lavender-hsl: 239, 66%, 84%;
    --text: #c6ceef;
    --text-rgb: 198, 206, 239;
    --text-hsl: 228, 56%, 86%;
    --subtext1: #b5bddc;
    --subtext1-rgb: 181, 189, 220;
    --subtext1-hsl: 228, 36%, 79%;
    --subtext0: #a5acc9;
    --subtext0-rgb: 165, 172, 201;
    --subtext0-hsl: 228, 25%, 72%;
    --overlay2: #949bb7;
    --overlay2-rgb: 148, 155, 183;
    --overlay2-hsl: 228, 20%, 65%;
    --overlay1: #838aa4;
    --overlay1-rgb: 131, 138, 164;
    --overlay1-hsl: 227, 15%, 58%;
    --overlay0: #737891;
    --overlay0-rgb: 115, 120, 145;
    --overlay0-hsl: 230, 12%, 51%;
    --surface2: #62677e;
    --surface2-rgb: 98, 103, 126;
    --surface2-hsl: 229, 13%, 44%;
    --surface1: #51566c;
    --surface1-rgb: 81, 86, 108;
    --surface1-hsl: 229, 14%, 37%;
    --surface0: #414559;
    --surface0-rgb: 65, 69, 89;
    --surface0-hsl: 230, 16%, 30%;
    --base: #303446;
    --base-rgb: 48, 52, 70;
    --base-hsl: 229, 19%, 23%;
    --mantle: #292c3c;
    --mantle-rgb: 41, 44, 60;
    --mantle-hsl: 231, 19%, 20%;
    --crust: #232634;
    --crust-rgb: 35, 38, 52;
    --crust-hsl: 229, 20%, 17%;
}
