:root {
    --rosewater: #de9584;
    --rosewater-rgb: 222, 149, 132;
    --rosewater-hsl: 11, 58%, 69%;
    --flamingo: #dd7878;
    --flamingo-rgb: 221, 120, 120;
    --flamingo-hsl: 0, 60%, 67%;
    --pink: #ec83d0;
    --pink-rgb: 236, 131, 208;
    --pink-hsl: 316, 73%, 72%;
    --mauve: #8839ef;
    --mauve-rgb: 136, 57, 239;
    --mauve-hsl: 266, 85%, 58%;
    --red: #d20f39;
    --red-rgb: 210, 15, 57;
    --red-hsl: 347, 87%, 44%;
    --maroon: #e64553;
    --maroon-rgb: 230, 69, 83;
    --maroon-hsl: 355, 76%, 59%;
    --peach: #fe640b;
    --peach-rgb: 254, 100, 11;
    --peach-hsl: 22, 99%, 52%;
    --yellow: #e49320;
    --yellow-rgb: 228, 147, 32;
    --yellow-hsl: 35, 78%, 51%;
    --green: #40a02b;
    --green-rgb: 64, 160, 43;
    --green-hsl: 109, 58%, 40%;
    --teal: #179299;
    --teal-rgb: 23, 146, 153;
    --teal-hsl: 183, 74%, 35%;
    --sky: #04a5e5;
    --sky-rgb: 4, 165, 229;
    --sky-hsl: 197, 97%, 46%;
    --sapphire: #209fb5;
    --sapphire-rgb: 32, 159, 181;
    --sapphire-hsl: 189, 70%, 42%;
    --blue: #2a6ef5;
    --blue-rgb: 42, 110, 245;
    --blue-hsl: 220, 91%, 56%;
    --lavender: #7287fd;
    --lavender-rgb: 114, 135, 253;
    --lavender-hsl: 231, 97%, 72%;
    --text: #4c4f69;
    --text-rgb: 76, 79, 105;
    --text-hsl: 234, 16%, 35%;
    --subtext1: #5c5f77;
    --subtext1-rgb: 92, 95, 119;
    --subtext1-hsl: 233, 13%, 41%;
    --subtext0: #6c6f85;
    --subtext0-rgb: 108, 111, 133;
    --subtext0-hsl: 233, 10%, 47%;
    --overlay2: #7c7f93;
    --overlay2-rgb: 124, 127, 147;
    --overlay2-hsl: 232, 10%, 53%;
    --overlay1: #8c8fa1;
    --overlay1-rgb: 140, 143, 161;
    --overlay1-hsl: 231, 10%, 59%;
    --overlay0: #9ca0b0;
    --overlay0-rgb: 156, 160, 176;
    --overlay0-hsl: 228, 11%, 65%;
    --surface2: #acb0be;
    --surface2-rgb: 172, 176, 190;
    --surface2-hsl: 227, 12%, 71%;
    --surface1: #bcc0cc;
    --surface1-rgb: 188, 192, 204;
    --surface1-hsl: 225, 14%, 77%;
    --surface0: #ccd0da;
    --surface0-rgb: 204, 208, 218;
    --surface0-hsl: 223, 16%, 83%;
    --base: #eff1f5;
    --base-rgb: 239, 241, 245;
    --base-hsl: 220, 23%, 95%;
    --mantle: #e6e9ef;
    --mantle-rgb: 230, 233, 239;
    --mantle-hsl: 220, 22%, 92%;
    --crust: #dce0e8;
    --crust-rgb: 220, 224, 232;
    --crust-hsl: 220, 21%, 89%;
}
