:root {
    --rosewater: #f4dbd6;
    --rosewater-rgb: 244, 219, 214;
    --rosewater-hsl: 10, 58%, 90%;
    --flamingo: #f0c6c6;
    --flamingo-rgb: 240, 198, 198;
    --flamingo-hsl: 0, 58%, 86%;
    --pink: #f5bde6;
    --pink-rgb: 245, 189, 230;
    --pink-hsl: 316, 74%, 85%;
    --mauve: #c6a0f6;
    --mauve-rgb: 198, 160, 246;
    --mauve-hsl: 267, 83%, 80%;
    --red: #ed8796;
    --red-rgb: 237, 135, 150;
    --red-hsl: 351, 74%, 73%;
    --maroon: #ee99a0;
    --maroon-rgb: 238, 153, 160;
    --maroon-hsl: 355, 71%, 77%;
    --peach: #f5a97f;
    --peach-rgb: 245, 169, 127;
    --peach-hsl: 21, 86%, 73%;
    --yellow: #eed49f;
    --yellow-rgb: 238, 212, 159;
    --yellow-hsl: 40, 70%, 78%;
    --green: #a6da95;
    --green-rgb: 166, 218, 149;
    --green-hsl: 105, 48%, 72%;
    --teal: #8bd5ca;
    --teal-rgb: 139, 213, 202;
    --teal-hsl: 171, 47%, 69%;
    --sky: #91d7e3;
    --sky-rgb: 145, 215, 227;
    --sky-hsl: 189, 59%, 73%;
    --sapphire: #7dc4e4;
    --sapphire-rgb: 125, 196, 228;
    --sapphire-hsl: 199, 66%, 69%;
    --blue: #8aadf4;
    --blue-rgb: 138, 173, 244;
    --blue-hsl: 220, 83%, 75%;
    --lavender: #b7bdf8;
    --lavender-rgb: 183, 189, 248;
    --lavender-hsl: 234, 82%, 85%;
    --text: #c5cff5;
    --text-rgb: 197, 207, 245;
    --text-hsl: 228, 71%, 87%;
    --subtext1: #b3bce0;
    --subtext1-rgb: 179, 188, 224;
    --subtext1-hsl: 228, 42%, 79%;
    --subtext0: #a1aacb;
    --subtext0-rgb: 161, 170, 203;
    --subtext0-hsl: 227, 29%, 71%;
    --overlay2: #8f97b7;
    --overlay2-rgb: 143, 151, 183;
    --overlay2-hsl: 228, 22%, 64%;
    --overlay1: #7d84a2;
    --overlay1-rgb: 125, 132, 162;
    --overlay1-hsl: 229, 17%, 56%;
    --overlay0: #6c728d;
    --overlay0-rgb: 108, 114, 141;
    --overlay0-hsl: 229, 13%, 49%;
    --surface2: #5a5f78;
    --surface2-rgb: 90, 95, 120;
    --surface2-hsl: 230, 14%, 41%;
    --surface1: #484c64;
    --surface1-rgb: 72, 76, 100;
    --surface1-hsl: 231, 16%, 34%;
    --surface0: #363a4f;
    --surface0-rgb: 54, 58, 79;
    --surface0-hsl: 230, 19%, 26%;
    --base: #24273a;
    --base-rgb: 36, 39, 58;
    --base-hsl: 232, 23%, 18%;
    --mantle: #1e2030;
    --mantle-rgb: 30, 32, 48;
    --mantle-hsl: 233, 23%, 15%;
    --crust: #181926;
    --crust-rgb: 24, 25, 38;
    --crust-hsl: 236, 23%, 12%;
}
