:root {
    --rosewater: #f5e0dc;
    --rosewater-rgb: 245, 224, 220;
    --rosewater-hsl: 10, 56%, 91%;
    --flamingo: #f2cdcd;
    --flamingo-rgb: 242, 205, 205;
    --flamingo-hsl: 0, 59%, 88%;
    --pink: #f5c2e7;
    --pink-rgb: 245, 194, 231;
    --pink-hsl: 316, 72%, 86%;
    --mauve: #cba6f7;
    --mauve-rgb: 203, 166, 247;
    --mauve-hsl: 267, 84%, 81%;
    --red: #f38ba8;
    --red-rgb: 243, 139, 168;
    --red-hsl: 343, 81%, 75%;
    --maroon: #eba0ac;
    --maroon-rgb: 235, 160, 172;
    --maroon-hsl: 350, 65%, 77%;
    --peach: #fab387;
    --peach-rgb: 250, 179, 135;
    --peach-hsl: 23, 92%, 75%;
    --yellow: #f9e2af;
    --yellow-rgb: 249, 226, 175;
    --yellow-hsl: 41, 86%, 83%;
    --green: #a6e3a1;
    --green-rgb: 166, 227, 161;
    --green-hsl: 115, 54%, 76%;
    --teal: #94e2d5;
    --teal-rgb: 148, 226, 213;
    --teal-hsl: 170, 57%, 73%;
    --sky: #89dceb;
    --sky-rgb: 137, 220, 235;
    --sky-hsl: 189, 71%, 73%;
    --sapphire: #74c7ec;
    --sapphire-rgb: 116, 199, 236;
    --sapphire-hsl: 199, 76%, 69%;
    --blue: #87b0f9;
    --blue-rgb: 135, 176, 249;
    --blue-hsl: 218, 90%, 75%;
    --lavender: #b4befe;
    --lavender-rgb: 180, 190, 254;
    --lavender-hsl: 232, 97%, 85%;
    --text: #c6d0f5;
    --text-rgb: 198, 208, 245;
    --text-hsl: 227, 70%, 87%;
    --subtext1: #b3bcdf;
    --subtext1-rgb: 179, 188, 223;
    --subtext1-hsl: 228, 41%, 79%;
    --subtext0: #a1a8c9;
    --subtext0-rgb: 161, 168, 201;
    --subtext0-hsl: 229, 27%, 71%;
    --overlay2: #8e95b3;
    --overlay2-rgb: 142, 149, 179;
    --overlay2-hsl: 229, 20%, 63%;
    --overlay1: #7b819d;
    --overlay1-rgb: 123, 129, 157;
    --overlay1-hsl: 229, 15%, 55%;
    --overlay0: #696d86;
    --overlay0-rgb: 105, 109, 134;
    --overlay0-hsl: 232, 12%, 47%;
    --surface2: #565970;
    --surface2-rgb: 86, 89, 112;
    --surface2-hsl: 233, 13%, 39%;
    --surface1: #43465a;
    --surface1-rgb: 67, 70, 90;
    --surface1-hsl: 232, 15%, 31%;
    --surface0: #313244;
    --surface0-rgb: 49, 50, 68;
    --surface0-hsl: 237, 16%, 23%;
    --base: #1e1e2e;
    --base-rgb: 30, 30, 46;
    --base-hsl: 240, 21%, 15%;
    --mantle: #181825;
    --mantle-rgb: 24, 24, 37;
    --mantle-hsl: 240, 21%, 12%;
    --crust: #11111b;
    --crust-rgb: 17, 17, 27;
    --crust-hsl: 240, 23%, 9%;
}
