/* a stylesheet for custom user rules. this way you can customize the theme,
and when you update you can preserve your modifications by just updating everything except this file. */

/* add a dummy rule so this will be loaded by the style editor on any page. */
:root {
    --uc-dummy-custom-property: initial;
}

toolbarbutton[label="Hydrus Companion"] {
    background-color: transparent !important;
}

#tab-nav-tooltip-textbox {
    max-width: 300px;
}

/* hides all tabs button. get an extension to show it instead */
#tabbrowser-tabs ~ #alltabs-button {
    display: none !important;
}

#urlbar-results [dynamicType="quickactions"] {
    display: none !important;
}

:is(.customization-target, .widget-overflow-list)
    :is(toolbarbutton, toolbaritem):not([attention])
    > .toolbarbutton-badge-stack
    > .toolbarbutton-badge {
    color: var(--uc-toolbar-bgcolor) !important;
}
